
.bannerWrap {
	width: 100%;
	height: 475px;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto cover;
	position: relative;
}
.header_title {display: block;}
     /* =========== */
/* =+===== CONTENT ======= */
     /* =========== */
.catalog {
	width: 100%;
	position: relative;
	padding-bottom: 150px;
}
.catalog_wrap {
	width: 100%;
	text-align: center;
	margin:0 auto;
}
.tabs_box {
	margin: 0 auto;
	margin-bottom: 20px;
}
.tabs_box>.tab {
	display: inline;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	padding: 10px 25px;
	cursor: pointer;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.tabs_content {
	background-color: transparent;
	width: 100%;
}
.tabs_content>.tab_content {
	width: 865px;
	position: relative;
	margin:0 auto;
	display: none;
}
.tabs_content>.tab_content.active {
	display: block;
}
.tabs_content>.tab_content>.card {
	width: 100%;
	height: 390px;
	margin-bottom: 30px;
	border:none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	visibility: hidden;
}
.card table {
	width: 100%;
	height: 100%;
	border:none;
	border-radius: none;
}
.card table tbody {
	border:none;
}
.card table th {
	background-color: #ff2513;
	font-size: 1.75em;
	font-weight: 400;
	height: 53px;
	border:1px solid #ff2513;
}
.card table td {
	font-size: 1.063em;
	color: #000;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #fff;
	border:1px solid #fff;
}
.card table td.bottomBorder {
	border-bottom: 1px solid #000;
}
.card table td.imgCell {
	width: 420px;
	text-align: center;
	padding-top: 0;
}
.card>table .imgCell>img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	position: relative;
}
.card table tr.narrow {
	min-height: 35px;
	height: 35px;
	border-top:;
}
.card table tr td.thin {
	width: 40px;
	min-width: 40px;
}
.card table tr td.tall {
	height: 60px;
	vertical-align: bottom;
}
.engineLink_wrap {
	position: relative; 
	z-index: 1;
	width: 100%;
	height: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.engineLink_block {
	position: relative;
	width: 230px;
	min-width:230px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: none;
	transition: none;
	background-image: url(../img/engine24-inactive.png);
}
.engineLink_block:nth-child(2) {
	margin-left: 10%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../img/engine50-inactive.png);
}

.engineLink_block>a {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: none;
	transition: none;
	opacity: 0;
}
.engineLink_block>a#tab24 {
	background-image: url(../img/engine24-active.png);
}
.engineLink_block>a#tab50 {
	background-image: url(../img/engine50-active.png);
}
.engineLink_block:hover>a#tab24 {
	background-image: url(../img/engine24-active.png);
	opacity: 1;
}
.engineLink_block:hover>a#tab50 {
	background-image: url(../img/engine50-active.png);
	opacity: 1;
}
.engineLink_block.active>a#tab24 {
	background-image: url(../img/engine24-active.png);
	opacity: 1;
}
.engineLink_block.active>a#tab50 {
	background-image: url(../img/engine50-active.png);
	opacity: 1;
}
.engineLink_block>.title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 235px;
	position: absolute;
	bottom: 40px;
	left: 0;
	pointer-events: none;
}
.engineLink_block:nth-child(1)>.title {
	width: 200px;
	left: 25px;
}
.engineLink_block>.title>h3 {
	margin: 0;
	font-size: 1.75em;
	font-weight: 400;
	color:#fff;
	word-wrap: normal;
	line-height: 1.375em;
	text-align: center;
}
.engineLink_block>.title>.icon {
	display: block;
	width: 45px;
	min-width: 45px;
	height: 37px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../img/link-square-inactive.png);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.engineLink_block:hover>.title>.icon {
	background-image: url(../img/link-square-active.png);
}
.engineLink_block.active>.title>.icon {
	background-image: url(../img/link-square-active.png);
}