
.bannerWrap {
	width: 100%;
	height: 475px;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto cover;
	position: relative;
}
.header_title {display: block;visibility: hidden;}
     /* =========== */
/* =+===== CONTENT ======= */
     /* =========== */

.contacts {
	width: 100%;
	position: relative;
	padding-bottom: 150px;
}
.contacts_wrap {
	width: 945px;
	margin: 0 auto;
	text-align: center;
	padding-top: 90px;
}
.img_box {
	width: 860px;
	margin:0 auto;
}
.img_box>.img_box_row {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 10px;
}
.img_box>.img_box_row>.img_block {
	width: 280px;
	cursor: pointer;
	opacity: .5;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.img_block>.img_wrap {
	width: 285px;
	height: 110px;
	overflow: hidden;
	visibility: hidden;
}
.img_block>.img_wrap>img {
	width: 100%;
	height: auto;
}
.img_block>.text_wrap {
	padding: 10px 20px;
	text-align: left;
	font-size: 0.625em;
	visibility: hidden;
}
.map_wrap {
	width: 100%;
	height: 440px;
	background-image: url(../img/map-contacts.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	margin-top: 30px;
	visibility: hidden;
}
.map_wrap .target {
	position: absolute;
	width: 42px;
	height: 60px;
	background-image: url(../img/target-inactive.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: none;
	transition: none;
	cursor: pointer;
	visibility: hidden;
}
#target1 {
	top: 92px;
	right: 120px;
}
#target2 {
	top: 15px;
	right: 455px;
}
#target3 {
	bottom: 260px;
	right: 180px;
}
#target4 {
	top: 95px;
	left: 190px;
}
#target5 {
	bottom:80px;
	left: 485px;
}
#target6 {
	left: 300px;
	bottom: 120px;
}
.map_wrap .target:hover {
	background-image: url(../img/target-active.png);
}

.description_box {
	width: 100%;
}
.description_row {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-bottom: 10px;
	margin-top: 20px;
}
.description_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	font-size: 0.625em;
	height: 70px;
	width: 265px;
	text-align: left;
	cursor: pointer;
	opacity: .5;
	visibility: hidden;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	margin-right: 60px;
}
.description_block:last-child {
	margin-right: 0;
}
.description_block>.leftPart {
	width: 120px;
	height: 100%;
	border-right: 2px solid #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 20px;
}
.description_block>.rightPart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%; 
	padding-left: 10px;
} 
#feedback {
	width: 445px;
	margin: 0 auto;
	margin-top: 20px;
}
#feedback h2 {
	font-size: 0.938em;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.feedback_row {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 0;
}
.feedback_row>input {
	width: 210px;
	height: 25px;
	border:1px solid #e1e1e1;
	/* font-size: 0.938em; */
	outline: none;
	background-color: transparent;
	margin-bottom: 20px;
	padding-left: 5px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 0;
	-webkit-box-shadow:none;
	        box-shadow:none;
}
.feedback_row>input:nth-child(1) {
	margin-right: 25px;
}
.feedback_row>input:hover, .feedback_row>input:focus {
	outline: none;
	border:1px solid #fff;
}
.feedback_row>input::-webkit-input-placeholder {color:#e1e1e1;}
.feedback_row>input::-moz-placeholder          {color:#e1e1e1;}/* Firefox 19+ */
.feedback_row>input:-moz-placeholder           {color:#e1e1e1;}/* Firefox 18- */
.feedback_row>input:-ms-input-placeholder      {color:#e1e1e1;}

.feedback_row>input:focus::-webkit-input-placeholder {color:transparent;}
.feedback_row>input:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
.feedback_row>input:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
.feedback_row>input:focus:-ms-input-placeholder      {color:transparent;}

.feedback_row>textarea {
	width: 445px;
	height: 80px;
	/* font-size: 0.938em; */
	font-weight: 400;
	font-family: "KozGoPro-Regular";
	border:1px solid #e1e1e1;
	border-radius: 0;
	-webkit-box-shadow:none;
	        box-shadow:none;
	outline: none;
	background-color: transparent;
	resize: none;
	padding-left: 5px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.feedback_row>textarea:hover, .feedback_row>textarea:focus {
	outline: none;
	border:1px solid #fff;
}
.feedback_row>textarea::-webkit-input-placeholder {color:#e1e1e1;}
.feedback_row>textarea::-moz-placeholder          {color:#e1e1e1;}/* Firefox 19+ */
.feedback_row>textarea:-moz-placeholder           {color:#e1e1e1;}/* Firefox 18- */
.feedback_row>textarea:-ms-input-placeholder      {color:#e1e1e1;}

.feedback_row>textarea:focus::-webkit-input-placeholder {color:transparent;}
.feedback_row>textarea:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
.feedback_row>textarea:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
.feedback_row>textarea:focus:-ms-input-placeholder      {color:transparent;}

button {
	position: relative;
	border:none;
	background-color: #e22313;
	font-size: 0.938em;
	width: 100px;
	height: 25px;
	left: 172px;
	cursor: pointer;
}